.container{
	width: 80vh;
	height: 75vh;
	margin: 0 auto;
	/*text-align: center;
	justify-content: center;*/
	background-image:url('static/img/stackbooks.jpg');
  border-radius: 10px;
  padding: 30px;
  margin-top: 10px;
  background-size: 100% 100%;
  background-color: orange;

}
.container input[type], select{
  float: right;
  width: 80vh;
  height: 6vh;
  border-radius: 5px;
  font-size: 20px;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  clear:both;
}


@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .container{
    width:100vh;
  }
  .container input[type], select{
    width:100vh;
  }
  
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.updatelink {
  background-color: grey; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.deletelink {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type=text], select,  {
  border-radius: 4px;
  width: 60vh;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  height: 30px;
  border: 1px solid #ccc;
}
input[type=text]:focus {
  border: 3px solid #555;
}

label{
  color:white;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;

}